#sendbtn{
    border-radius: 25px;
    width: 40px;
    height: 40px;
    background: url('send.png') cover;
    margin-top: -40px;
    
}

#msginput{
    width: 550px;
    height: 40px;
}

#bla{
    margin-top: 500px;
    margin-left: 700px;
}

#logout{
    width: 100px;
    height: 35px;
}

